.button{
    border: 1px solid var(--main-color);
    padding: .6rem;
    width: 8rem;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: background-color 0.4s ease-out;
    -webkit-transition: color 0.4s ease-out; 
}

.button:hover{
    background-color: var(--main-color); 
    color:  black;
}

.button {
    color: var(--main-color);
}

.button{
    font-size: .9rem;
}

@media only screen and (min-width: 1000px) {
    .button{
        font-size: 1rem;
    }
}

