@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

a{
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    text-decoration: none;
}

:root{

    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
}
h1{
    color: var(--main-color);
    padding: 0%;
    margin: 0%;
    font-weight: 400;
    font-size: var(--fs-600);
}


h2{
    color: var(--secondary-color);
    font-weight: 400;
    padding: 0%;
    margin: 0%;
    font-size: var(--fs-500);
}

h3{
    color: var(--secondary-color);
    font-weight: 400;
}

li{
    font-size: var(--fs-400);
}

@media only screen and (min-width: 1000px) {
    :root{
        --fs-600: 2rem;
        --fs-500: 1.5rem;
        --fs-400: 1.25rem;
    }
}