@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap');

a{
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    text-decoration: none;
}

h1{
    color: var(--main-color);
    padding: 0%;
    margin: 0%;
    font-weight: 400;
}


h2{
    color: var(--secondary-color);
    font-weight: 400;
    padding: 0%;
    margin: 0%;
}

h3{
    color: var(--secondary-color);
    font-weight: 400;
}

li{
    font-size: 1.2rem;
}