
body{
    margin: 0%;
    padding: 0%;
}

header{
    height: 120dvh; 
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/heros/mobile/hero1_Mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% 50%;
    border-bottom: 1px solid var(--main-color);
}


.logo {
    width: 5rem;
    height: 5rem;
}

.container{
    height: 120dvh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-right: var(--left-right-padding-mobile);
    padding-left: var(--left-right-padding-mobile); */
}

.details{
    align-self: center;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5em;
    width:90vw;
    padding-bottom: 4%;
}

.details > .glass-card{
    animation: introload-from-right 1s ease-in-out forwards ;
}
.details > .glass-card > ul > li{
    gap: 1em;
}
li::before{
    height: 1.3em;
    width: 1.3em;
}

.details > .glass-card > ul > li[item="1"]::before{
    content: url("/assets/svg/listItems/listItem1.svg");
}

.details > .glass-card > ul > li[item="2"]::before{
    content: url("/assets/svg/listItems/listItem2.svg");
}

.details > .glass-card > ul > li[item="3"]::before{
    content: url("/assets/svg/listItems/listItem3.svg");
}

.details > .glass-card > ul > li[item="4"]::before{
    content: url("/assets/svg/listItems/listItem4.svg");
}

.details > .glass-card >  .button {
    padding: .2em;
}

.details > .arrow-down{
    animation: introload-from-left 1s ease-in-out forwards;
    width: 2.3em;
    height: 2.3em;

}


.section2{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/heros/mobile/section2Mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.section2 > .container > .details {
  margin: auto;
}
.section2 > .container > .details > .glass-card > .button {
    width: 12rem;
}


.section2 > .container > .details > .glass-card > ul >li[item="fail"]::before{
    content: url("/assets/svg/listItems/circle-close-svg.svg");
}




  
  
@media only screen and (min-width: 1000px) {
    header{
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/heros/hero1Image.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    
    .section2{
        margin: 0;
        padding: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/heros/section2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
  }


  @keyframes introload-from-left {

    from{
      transform: translateX(-100px);
      opacity: 0;
    }
  
  
    to{
     transform: translateX(0px);
     opacity: 1;
    }
    
  }

  @keyframes introload-from-right {

    from{
      transform: translateX(100px);
      opacity: 0;
    }
  
  
    to{
     transform: translateX(0px);
     opacity: 1;
    }
    
  }